### Gradle ###
.gradle/
build/
repo/

### IDEs ###
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

### Minecraft ###
run/
logs/
crash-reports/
src/generated/resources/.cache/

### OS ###
.DS_Store
Thumbs.db
